.card {
  width: 12rem;
  cursor: pointer;
  height: 300px;
  width: 300px;
}

.content {
  text-align: center;
  position: relative;
  -webkit-transition: all 1.25s;
  transition: all 1.25s;
  background-color: transparent;
  padding: 5em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card:hover .content {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

.front,
.back {
  border-radius: 1rem;
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  bottom: 0;
  color: white;
  right: 0;
  padding: 2em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.title {
  -webkit-transform: translateZ(5rem);
          transform: translateZ(5rem);
  font-size: 2rem;
}

.subtitle {
  -webkit-transform: translateZ(2rem);
          transform: translateZ(2rem);
}

.back {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
  background-color: var(--surface-ground);
}

.image {
  -webkit-transform: translateZ(3rem);
          transform: translateZ(3rem);
}
