<p-card
  header="{{ heroeName }}"
  subheader="{{ publisher }}"
  [style]="{ width: '300px' }"
  class="myCard"
>
  <ng-template pTemplate="header">
    <img
      class="border-primary animate__animated animate__fadeIn"
      alt="Card"
      [src]="heroeImage"
    />
  </ng-template>
  <p>
    <li><strong>Peso: </strong>{{ weight }}</li>
    <li><strong>Color de cabello: </strong>{{ hairColor }}</li>
    <li><strong>Género: </strong>{{ gender }}</li>
    <li><strong>Altura: </strong>{{ height }}</li>
  </p>
</p-card>
