.info-container {
  border-radius: 1rem;
  box-shadow: 5px 10px 50px #000000;
  border-radius: 35px;
  backdrop-filter: blur(3px);
  background-color: var(--surface-card);
  color: var(--text-color);
}
