<div class="card p-3">
  <p-dataView
    #dv
    [value]="heroes"
    [paginator]="true"
    [rows]="10"
    filterBy="name"
    layout="list"
  >
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <span class="p-input-icon-left mb-2 md:mb-0">
          <i class="pi pi-search"></i>
          <input
          type="search"
          pInputText
          placeholder="Search by Name"
          (input)="dv.filter($any($event.target).value)"
          />
        </span>
        <app-loader *ngIf="loading"></app-loader>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>

    <ng-template let-heroe pTemplate="listItem">
      <div class="col-12 p-2">
        <div class="flex">
          <img
            [src]="heroe.images.sm"
            [alt]="heroe.name"
            class="border-round"
          />
          <div class="flex flex-column gap-2 pl-4">
            <h2>{{ heroe.name }}</h2>
            <span><strong>Primera aparición: </strong>{{ heroe.biography.firstAppearance }}</span>
            <span><strong>Editor: </strong>{{ heroe.biography.publisher }}</span>
            <span><strong>Alter ego: </strong>{{ heroe.biography.alterEgos }}</span>
            <br>
            <p-button
              icon="pi pi-plus-circle"
              label="Más información"
              (onClick)="viewHeroe(heroe)"
            ></p-button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-heroe pTemplate="gridItem">
      <div class="grid justify-content-center align-items-center sm:col-12 md:col-6 lg:col-3">
          <app-card
            [heroeName]="heroe.name"
            [aliasName]="heroe.biography.aliases[0]"
            [heroeImage]="heroe.images.sm"
            [xsImage]="heroe.images.xs"
            (click)="viewHeroe(heroe)"
          ></app-card>
      </div>
    </ng-template>
  </p-dataView>
</div>
